<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=(localdb)\local_SQL;Database=NBA_players;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
    <add name="SecondConnection"
         connectionString="Server=(localdb)\local_SQL;Database=NBA_teams;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
	  <add name="NBAScheduleConnection"
	 connectionString="Server=(localdb)\local_SQL;Database=NBA_schedule;Integrated Security=True;TrustServerCertificate=True;"
	 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>